<!DOCTYPE html>
<html>
    <head>
        <title>
            404 Page not Found.
        </title>
    </head>

    <body>
        <img src="/assets/404-PageNotFound.jfif" width="50%">

        <p>Page not found, click <a href="/home">here</a> to get back to home.</p>
    </body>
    
</html>