<!DOCTYPE html>
<html>
    <head>
        <title><%= appName %> Homepage</title>
    </head>

    <body>
        <h1>Welcome to <%= appName %> Homepage</h1>

        <p>Click the items in the following list to do functionality:</p>
        <ul>
            <li><a href="/">Login</a></li>
            <li><a href="/list/users">List</a></li>
            <li><a href="/user/1">Show profile of user 1.</a></li>
        </ul>
    </body>
</html>