<!DOCTYPE html>
<html>

<head>
    <title>User List Page</title>
</head>

<body>
    <a href="/home">Back to home</a>
    <p>Select the attributes you want to see:</p>
    <form method="POST">

            <% for (x in attribList){ %>
                <input type="checkbox" name="<%= attribList[x].name %>">
                <label for="<%= attribList[x].name %>"><%= attribList[x].label %></label><br>
            <% }; %>

            <input type="submit">

    </form>
    <table>
        <% list.forEach(function (element) { %>
        <tr>
            <% element.forEach(function (i) { %>
            <td>
                <%= i %>
            </td>
            <% }); %>
        </tr>
        <% }); %>
    </table>
</body>


</html>