<!DOCTYPE html>
<html>
    <head>
        <title><%= appName %> System</title>
    </head>

    <body>
        <h1><%= appName %> Login Page</h1>

        <p>Server time is <%= time %></p>
        
        <div style="text-align: center">
            <form action="/login/" method="post">
                <label for="username" >Username</label>
                <input type="text" name="username"><br>
                <label for="pass">Password</label>
                <input type="password" name="pass"><br>
    
                <input type="submit" value="login" />
    
            </form>

            <a href="/registration">Click here to register.</a>
        </div>
        
        <p>* By default, username is Matric No and password is IC.</p>

        <script type="text/javascript" src="assets/formProcessor.js"></script>
    </body>
</html>