<!DOCTYPE html>
<html>
    <head>
        <title><%= appName %> System</title>
    </head>

    <body>
        <h1><%= appName %> Login Page</h1>

        <p>Server time is <%= timeHours %></p>
        
        <div style="text-align: center">
            <form method="POST">
                Username: <input type="text" name="username"><br>
                Password: <input type="password" name="pass"><br>
    
                <input type="submit" value="login">
    
            </form>
        </div>
        
        <p>* By default, username is Matric No and password is IC.</p>
    </body>
</html>